---
import AppLayout from '../layouts/AppLayout.astro';

const title = "Programs | Space Faculty"
---

<AppLayout title={title}>
  <section class="text-center h-[60vh] grid place-items-center items-center" aria-labelledby="section-title">
    <div class="flex items-center w-full h-full mx-auto bg-gradient-to-t zinc-900 jusitfy-center">
			<div class="mx-auto">
				<h1 class="mb-4 text-4xl font-bold tracking-tight text-zinc-100">Under Construction</h1>
			</div>
    </div>
  </section>
</AppLayout>