---
const today = new Date();
import { Image } from 'astro:assets';
import sflogo from '../assets/sflogo.png';
import { Icon } from 'astro-icon'

---
<!-- Footer Start -->
<footer class=" bg-zinc-950 relative text-gray-200 bottom-0">
    <div class="container mx-auto px-6">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div class="py-[60px] px-0">
                    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                        <div class="lg:col-span-4 md:col-span-12 select-none">
                            <a href="/">
                            <Image
                                src={sflogo}
                                class="inline-flex w-60 overflow-hidden aspect-rectangle"
                                alt="Image of the author"
                                loading="eager"
                            />
                            </a>
                            <ul class="list-none mt-6">
                                
                                <li class="inline">
                                    <a href=""
                                        class="font-semibold align-middle transition duration-500 ease-in-out p-1.5 h-9 w-9 inline-flex items-center text-center justify-center text-sm border !border-gray-800 rounded-md hover:border-yellow-600  hover:bg-yellow-600 ">
                                        <Icon name="ion:logo-youtube" />
                                    </a>
                                </li>
                                <li class="inline">
                                    <a href="https://sg.linkedin.com/company/spacefaculty"
                                        class="font-semibold align-middle transition duration-500 ease-in-out p-1.5 h-9 w-9 inline-flex items-center text-center justify-center text-sm border !border-gray-800 rounded-md hover:border-yellow-600  hover:bg-yellow-600 ">
                                        <Icon name="ion:logo-linkedin" />
                                    </a>
                                </li>
                                <li class="inline">
                                    <a href="https://www.instagram.com/spacefacultyasia/"
                                        class="font-semibold align-middle transition duration-500 ease-in-out p-1.5 h-9 w-9 inline-flex items-center text-center justify-center text-sm border !border-gray-800 rounded-md hover:border-yellow-600  hover:bg-yellow-600 ">
                                        <Icon name="ion:logo-instagram" />
                                    </a>
                                </li>
                            </ul>
                            <!--end icon-->
                        </div>
                        <!--end col-->

                        <div class="lg:col-span-2 md:col-span-4">
                            <h5 class=" text-gray-100 font-semibold">
                                Company
                            </h5>
                            <ul class="list-none mt-6">
                                <li>
                                    <a href="/about/"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">
                                        About us
                                    </a>
                                </li>
                                <li class="mt-2.5">
                                    <a href="/programs/"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">
                                        Programs
                                    </a>
                                </li>
                                <li class="mt-2.5">
                                    <a href="/wro/"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">
                                        World Robot Olympiad
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end col-->

                        <div class="lg:col-span-3 md:col-span-4">
                            <h5 class=" text-gray-100 font-semibold">
                                Contact Us
                            </h5>
                            <ul class="list-none mt-6">
                                <li>
                                    <a href="mailto:learn@spacefaculty.asia"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">
                                        learn@spacefaculty.asia
                                    </a>
                                </li>
                                <li class="mt-2.5">
                                    <a href="tel:+6567357995"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">
                                        (65) 6735 7995
                                    </a>
                                </li>
                                <li class="mt-2.5">
                                    <a href="http://maps.google.com/?q=298 Tiong Bahru Rd (Central Plaza), Singapore 168730"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">
                                        298 Tiong Bahru Rd (Central Plaza), Level 4, Singapore 168730
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end col-->

                        <div class="lg:col-span-3 md:col-span-4">
                            <h5 class=" text-gray-100 font-semibold">
                                Newsletter
                            </h5>
                            <p class="mt-6">
                                Sign up for email news updates                     
                            </p>
                            <form>
                                <div class="grid grid-cols-1">
                                    <div class=" my-3">
                                        <div class="relative mt-2">
                                            <input type="email"
                                                class="w-full py-2 px-4 rounded h-10 outline-none bg-transparent rounded-t-sm rounded-r-none rounded-b-none rounded-l-sm outline-0 border border-gray-800/90 text-gray-100  focus:shadow-none focus:border-gray-800/90"
                                                placeholder="Enter Your Email" name="email" required="true" />
                                        </div>
                                    </div>
                                    <button type="submit" id="submitsubscribe" name="send"
                                        class="py-2 px-5 inline-block font-semibold border align-middle text-base text-center bg-[#FFCDA3] border-[#FFCDA3] text-black rounded-md mt-2">
                                        Subscribe
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end grid-->
                </div>
                <!--end col-->
            </div>
        </div>
        <!--end grid-->
    </div>
    <div class="py-8 px-0 border-t border-gray-800 text-zinc-500">
        <div class="grid mx-auto px-6 text-center place-items-center items-center">
            <div class="grid place-items-center items-center">
            <div class="text-center">
                <p class="mb-0">
                &copy; {today.getFullYear()} Vincent Cayadi. All Rights Reserved
                </p>
                <p class="mb-0">
                <span>Terms Of Service</span> | <span>Privacy Policy</span>
                </p>
            </div>
            </div>
        </div>
    </div>
</footer>
<!--end footer-->